{:paths ["src/main"]
 :deps {spy/spy {:local/root "../spy"}
        org.clojure/data.json {:mvn/version "2.4.0"}}
 :aliases
 {:repl
  {:main-opts
   ["-m" "nrepl.cmdline"
    "--middleware" "[spy/spy-middleware]"]}}} 